.glow{

box-shadow: 0px 10px 100px 40px rgba(255,255,255,1);
bottom: -10rem;
right: -5rem;
}

html{
scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

.moon{
    bottom: -10rem;
right: -5rem;
}

.noise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  pointer-events: none; /* Para garantir que o ruído não interfira com a interação do usuário */
  background-image: url('/noise.jpg'); /* Acesse o arquivo noise.jpg da pasta public */
  background-size: ; /* Faz com que a imagem cubra toda a tela */
  opacity: 0.05; /* Ajuste a opacidade conforme o efeito desejado */
  z-index: 999;
}

.star-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none; /* Para garantir que o ruído não interfira com a interação do usuário */
  background-image: url('/star.png'); /* Acesse o arquivo noise.jpg da pasta public */
  background-size: ; /* Faz com que a imagem cubra toda a tela */
  opacity: 0.05; /* Ajuste a opacidade conforme o efeito desejado */
}

